.category{
	height: 350px;
	overflow: hidden;
	position: relative;
	width: 100%;
	.category-content-bg, .category-content-bg-visible{
		display: block;
		height: 100%;
		position: absolute;
		width: 100%;
	}
	.category-content-bg{
		opacity: 1;
		z-index: 1;
	}
	.category-content-bg-visible{
		opacity: 0;
		z-index: 9;
	}
	&.beauty {
		background: url(../img/bg-beauty-black.jpg) center center no-repeat;
		@include transition(all 600ms ease);
	}
	&.fashion {
		background: url(../img/bg-fashion-black.jpg) center center no-repeat;
		@include transition(all 600ms ease);
	}
	&.bodyart {
		background: url(../img/bg-body-black.jpg) center center no-repeat;
		@include transition(all 600ms ease);
	}
	&.celebrities {
		background: url(../img/bg-celebrities-black.jpg) center center no-repeat;
		@include transition(all 600ms ease);
	}
	&.services {
		background: url(../img/bg-services-black.jpg) center center no-repeat;
		@include transition(all 600ms ease);
	}

	&:hover {
		&.beauty {
			background: url(../img/bg-beauty.jpg) center center no-repeat;
			@include transition(all 800ms ease);
		}
		&.fashion {
			background: url(../img/bg-fashion.jpg) center center no-repeat;
			@include transition(all 800ms ease);
		}
		&.bodyart {
			background: url(../img/bg-body.jpg) center center no-repeat;
			@include transition(all 800ms ease);
		}
		&.celebrities {
			background: url(../img/bg-celebrities.jpg) center center no-repeat;
			@include transition(all 800ms ease);
		}
		&.services {
			background: url(../img/bg-services.jpg) center center no-repeat;
			@include transition(all 800ms ease);
		}
	}
	.fright{
		background-color: #fff;
		height: 80px;
		margin-top: -50px;
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 10;
		padding: 20px;
	}
	.fleft{
		background-color: #fff;
		height: 80px;
		margin-top: -50px;
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 10;
		padding:20px;
	}
	h1{
		font-size: 42px;
		letter-spacing: 25px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	a{
		color: black;
		text-decoration:none;
	}
	
	&:hover {
		a {
			border-bottom: 1px solid #000;
		}
	}
}

.mobile {
	.category {
		h1 {
			font-size: 20px;
			letter-spacing: 15px;
		}
	}
}