#contact{
	#contact-wrapper{
		border-top: 2px solid black;
		border-bottom: 2px solid black;
		height: calc(100% - 4px);
		margin: 0 auto;
		max-width: 1100px;
		h1, h2{
			text-align: center;
		}
		
		h2{
			font-size: 26px;
			letter-spacing: 10px;
			margin-top: 50px;
		}
		.column{
			
			h3{
				font-size: 20px;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			img{
				margin-bottom: 20px;
			}
			#texte{
				p{
					font-size: 14px;
				}
			}
		}

		.contact-form{
			.input{
				padding-right: 50px;
				input{
					border: 1px solid black;
					font: 15px "Futura W01 Light";
					height: 50px;
					margin: 10px 0;
					padding-left: 15px;
					text-transform: uppercase;
					width: calc(100% - 15px);
					&:first-child {
						margin-top: 0;
					}
				}
				textarea{
					border: 1px solid black;
					font: 15px "Futura W01 Light";
					padding-left: 15px;
					padding-top: 15px;
					margin: 10px 0;
					text-transform: uppercase;
					width: calc(100% - 15px);
				}
			}
			#submit{
				background: transparent;
				border: 1px solid black;
				height: 50px;
				margin-top: 0;
				width: 100px;
			}
			#submit:hover{
				background: black;
				color: white;
				cursor: pointer;
			}
		}
		.column-wrapper {
			height: 580px;
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
		}
	}
}
#contact-mobile {
	display: none;
}
.mobile {
	#contact {
		display: none;
	}
	#contact-mobile {
		display: block;
		padding: 20px;
		position: relative;
		top: 50px;
	}
}