@include keyframes(downUp) {
  0%, 20%, 100% {
    @include transform(translateY(0));
  }

  10% {
    @include transform(translateY(10px));
  }
}


#highlight{
	position: relative;
	top:-43px;
	text-align:center;
	z-index: 1;
	img{
		// height: 100%;
		// left: 50%;
		// position: absolute;
		// z-index: 1;
		opacity: 0;
		visibility: hidden;
		max-width: 100%;
	}
	.scroll-down {
		top: 93%;
		color: #000;
		font-size: 24px;
		font-family: $futura-light;
		font-weight: 900;
		font-style: italic;
		left: 50%;
		margin-left: -58px;
		position: absolute;
		z-index: 2;
		@include animation(downUp 4s ease infinite);
		&:after {
			background-color: #000;
			content: '';
			height: 12px;
			position: absolute;
			left: 50%;
			top: 100%;
			width: 2px;
		}
	}
}

.gallery-img {
	cursor: pointer;
	position: relative;
	opacity: 1;
	visibility: visible;
	width: 33%;
	@include transition(all 500ms ease);
	&.visible {
		opacity: 1;
		visibility: visible;
	}
	.gallery-img-inner {
		padding: 5px;
		text-align: center;
		img {
			max-width: 100%;
		}
		.gallery-img-opacity {
			width: calc(100% - 50px);
		    height: calc(100% - 40px);
		    background-color: black;
		    position: absolute;
		    z-index: 9;
		    top: 20px;
		    left: 25px;
		    opacity: 0;
		    @include transition(all 400ms ease);
		}
		span.img-see {
			position: absolute;
			top: 50%;
			left: 50%;
			color: #fff;
			font-size: 24px;
			font-family: $futura-light;
			text-transform: uppercase;
			margin-left: -55px;
			margin-top: -12px;
			width: 111px;
			height: 25px;
			opacity: 0;
			z-index: 10;
			@include transition(all 400ms ease);
		}
		span.img-plus {
			color: #fff;
			font-size: 40px;
			font-family: $futura-light;
			position: absolute;
			top: 20px;
			right: 32px;
			z-index: 10;
			opacity: 0;
			@include transition(all 400ms ease);
		}
		&:hover {
			.gallery-img-opacity {
				opacity: 0.8;
				@include transition(all 500ms ease);
			}
			span {
				opacity: 1;
				@include transition(all 1000ms ease);
			}
		}
	}
}

.gallery-zoom {
	background-color:#fff;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: fixed;
	// display:none;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
	@include transition(all 800ms ease);
	&.show{
		// display: block;
		// opacity: 1;
		// visibility: visible;
		// @include transition(all 800ms ease);
	}
	.gallery-zoom-close {
		background: url(../img/close.png);
		cursor: pointer;
		height: 20px;
		position: absolute;
		right: 20px;
		top: 20px;
		width: 20px;
	}
	.gallery-zoom-inner {
		// height: 85%;
		// height: 75%;
		height: 60%;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
		position: relative;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		@include transition(all 600ms ease);
		&.show {
			opacity: 1;
			visibility: visible;
			@include transition(all 800ms ease);
		}
		.gallery-zoom-img {
			position: absolute;
		    top: 0;
		    left: 50%;
		    // width: 99999px;
		    height: 100%;
		    img {
				float: left;
				height: 100%;
				margin-right: 50px;
				opacity: 0.1;						
			}
		}
		.gallery-zoom-descr {
			bottom: -70px;
			left: 50%;
			position: absolute;
			span {
				display: block;
				height: 40px;
				float: left;
				text-align: center;
				margin-right: 50px;
			}
		}
		
	}
	.gallery-arrow {
		position: absolute;
	    top: 0;
	    left: 50%;
	    width: 0;
	    height: 100%;
	}
	.gallery-arrow-right, .gallery-arrow-left {
		cursor: pointer;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    width: 55px;
	    margin-left: 15px;
	    height: 35px;
		span {
			font-size: 24px;
		}
	}
	.gallery-arrow-left{
		margin-left: 0;
		// margin-right: 15px;
	}
}

@media screen and (max-width: 400px) {
	.gallery-img {
		width: 100%;
	}
	.gallery-zoom {
		.gallery-zoom-inner {
			height: 50%;
		}
	}

}