body {
	.category {
		height: 200px;
		.category-content-bg-visible, .category-content-bg {
			display: none;
		}
		.fleft, .fright{
			height: 50px;
			margin-top: -25px;
			position: relative;
			text-align: center;
		}
	}
	#contact{		
		#contact-wrapper {
			border-bottom: none;
			.contact-form {
				h3 {
					padding-left: 20px;
					padding-right: 30px;
				}
				#infoForm {
					padding-left: 20px;
					padding-right: 30px;
				}
				.input {					
					padding-right: 30px;
				}
			}
			.contact-infos {
				.column-wrapper {
					padding-right: 20px;	
				}
				
			}
		}
	} 
}