.service-article {
	border-bottom: 1px solid #ccc;
	height: 350px;
	overflow: hidden;
	position: relative;
	width: 100%;
	&:last-child {
		border-bottom: none;
	}
	.service-text-wrapper {
		height: 100%;
		// left:0;
		// float: left;
		// position: relative;
		// width: 70%;
		.service-text {
			display: inline-block;
			height: 350px;
			line-height: 350px;
	        // opacity: 0;
	        margin: 0;
	        padding: 0;
	  //       position: absolute;
	  //       visibility: hidden;
	  //       width: 100%;
			// @include transition(all 400ms ease);
	  //       &.active {
	  //           opacity: 1;
	  //           visibility:visible;
	  //           @include transform(scale(1) translateX(0));
	  //           @include transition(all 600ms ease);
	  //       }
	        .service-text-inner {
	        	display: inline-block;
	        	line-height: normal;
	        	vertical-align: middle;
	        }
		}
	}
	.service-img-wrapper {
		height: 100%;
		// float: right;
		// position: relative;
		// width: 30%;
		.service-img{
			height: 100%;
			position: absolute;
			width: 100%;
			img {
				display: none;
			}
		}
	}
	&:nth-child(odd) {
		.slider-container {
			float: left;
			height: 100%;
			width: 70%;
			&:last-child {
				float: right;
				width: 30%;
			}
		}
		// .service-text-wrapper {
		// 	float: right
		// }
		// .service-img-wrapper {
		// 	float: left;
		// }
	}
	&:nth-child(even) {
		.slider-container {
			float: right;
			height: 100%;
			width: 70%;
			&:last-child {
				float: left;
				width: 30%;
			}
		}
	}
	.slider-container {
		.slick-list, .slick-track {
			height: 100% !important;
		}
	}
}


#services-mobile {
	display: none;
}
.mobile {
	#pagination {
		display: none;
	}
	#services-page {
		display: none;
	}
	#services-mobile {
		display: block;
		padding: 20px;
		position: relative;
		top: 50px;
	}
}